    <button class="bg-dark dark:bg-light text-light dark:text-dark px-4 py-1 hover:bg-dark-darkened dark:hover:bg-light-darkened transition-colors {{classes}}" type="{{type | default: "button"}}">
        {{label}}
    </button>