<nav>
    <ul>
        {% for item in navigation %}
            <li>
                <a class="block py-1" href="{{item.key}}">{{item.title}}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
