<a
    class="skip-to-content z-10 text-light dark:text-dark sr-only focus:not-sr-only fixed top-0 left-0 block p-4 border border-solid border-dark dark:border-light"
    href="#main">Skip to content
</a>
