---
title: About
---
<div class="container">
    {% render 'h1', text:title %}
    <p class="font-body pt-4">This is a simple Eleventy starter.
        <a
            class="underline"
            href="https://github.com/esharri2/ev-eleventy-starter">Check out notes here!
        </a>
    </p>
</div>
