---js
{
  title: 'Blog',
  pagination: {
    data: 'collections.post',
    size: 2,
    alias: 'posts',
    reverse: true,
    before: function(data) {
      return data.filter((item) => item.data.permalink !== false);
    }
  }
}
---

<div class="container">
    {% render 'h1', text: title%}
    <ul>
        {% for post in posts %}
            <li id="{{post.fileSlug}}" class="pt-4">
                <a class="text-xl" href="{{post.url}}">{% render 'h2', text: post.data.title %}</a>
                <p>{% prettyDate post.data.date %} | {{post.data.description}}</p>
                <a href="{{post.url}}">Read more</a>
            </li>
        {% endfor %}
    </ul>
    {% render 'pagination', pagination: pagination %}
</div> 