<!DOCTYPE html>
<html lang="en" class="font-body text-dark dark:text-light bg-light dark:bg-dark ">
    {% render 'head', site: site, page: page, title: title %}
    <body
        class="relative">
        {% render 'ie-notice'%}
        {% render 'skip-to-content' %}
        {% render 'back-to-top' %}
        <header class="py-3 bg-dark dark:bg-light lg:p-0">
            <div class="container">
                {% render 'navigation', navigation: navigation, page: page %}
            </div>
        </header>
        <main class="min-h-screen pt-8 mb-6" id="main">
            {{ content }}
        </main>
        {% render 'footer', builtBy: site.builtBy, navigation: navigation_footer %}
    </body>
</html>
