.md h2, h3, h4, h5 {
   @apply font-display my-4 text-2xl;
}

.md h3 {
    @apply text-xl;
}

.md h4 {
    @apply text-lg italic;
}

.md blockquote {
    @apply border-l border-dark-darkened dark:border-light-darkened bg-dark text-light dark:bg-light dark:text-dark my-4 mx-2 p-2;
}

.md > ul {
  margin: 1rem 0;
}

.md ul, .md ol { 
    display: block;
    list-style: disc outside none;
    padding: 0 0 0 1rem;
}
.md ol { 
    list-style-type: decimal;
}

.md li { 
    display: list-item;
}

.md ul ul, .md ol ul {
    list-style-type: circle;
    margin-left: 1rem; 
}
.md ol ol, .md ul ol { 
    list-style-type: lower-latin;
    margin-left: 1rem; 
}

.md a {
  text-decoration: underline;
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: inherit;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p:first-child {
  display: inline;
}

